/*сброс стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*подключение шрифтов*/
@font-face { 
font-family: 'Lato'; 
font-style: normal; 
font-weight: 400; 
src: url(./fonts/9622.ttf); 
} 
/*конец подключения шрифтов*/
.all {width: 100%; margin:0 auto; 
font-family: Lato;}
.content {width: 80%; margin: 0 auto;
min-height: auto}
.logo { background-color: #f6f9f9; padding-bottom: 31px;
     padding-top: 31px;}
.banner {
	background-image: url(./images/top.png); background-repeat: no-repeat;
	padding-top: 220px;
	padding-bottom: 80px;
	text-align: center;
	background-size: cover;

}
.banner a{ display: inline-block; border: solid 1px; border-radius: 3px;
	padding-top:23px; padding-bottom:23px; padding-left:36px; padding-right:36px;
	border-color: #1E90FF;
	text-decoration: none; text-align: center; color: #fff;
	margin-bottom: 280px;
}
.banner p {
	padding-top: 39px;
	padding-bottom: 66px; 
	color: #fff;
	  
}
h1 {  font-size: 120px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center; 
  margin-bottom: 37px;

}
hr { margin-bottom: 35px; background-color: rgb(21, 164, 250);width: 600px;

}
.banner i {display: block;}
.fa-chevron-down {color: #fff;}
.text {background:#f6f9f9; padding-bottom: 109px; padding-top: 82px}
.text h2 { font-size: 40px;  
  color: rgb(45, 57, 80);
  text-align: center;  margin-bottom: 40px;
}
.text p {text-align: center; color: rgb(153, 153, 153);}
.plus { padding-top: 67px; padding-bottom: 67px; color:rgb(45, 57, 80)}
.plus li {display: inline-block; width: 26%; padding-right: 30px; padding-left: 30px;
 }
.plus h3 {color: rgb(45, 57, 80); line-height: 1.2;
  text-align: center; font-size: 22px; }
.plus p { text-align: center; 
	font-size: 15px; line-height: 1.467; color: rgb(153, 153, 153); }
.fa-mobile {background: linear-gradient(to right, #1E90FF 50%, #48baff 50%); 
	padding: 22px 36px; text-align: center; color: #fff;}
.fa-paper-plane {background:linear-gradient(to right, #1E90FF 50%, #48baff 50%); padding: 30px 23px; color: #fff;}
.fa-bullhorn {background:linear-gradient(to right, #1E90FF 50%, #48baff 50%); 
	padding: 29px 26px 30px 26px; color: #fff;}
.plus i {margin-left: 80px; margin-bottom: 30px;}
.portfolio {background-color:#f6f9f9; padding-top: 82px; padding-bottom: 115px; text-align: center;}
.portfolio h2 {  font-size: 41px;
  color: rgb(45, 57, 80); margin-bottom: 30px;
}
.portfolio p {  font-size: 15px;
  color: rgb(144, 144, 144); margin-bottom: 80px;
}
.portfolio img {width: 26%; height: auto; min-height: 200px;padding-left:30px; padding-bottom: 30px;}
.portfolio li {display: inline; }
.input { background-image: url(./images/footer.png); 
	background-repeat: no-repeat; 
	background-size: cover;
  }
.input h2 {font-size: 41px;
  color:#fff; margin-bottom:25px; padding-top: 74px; text-align: center;}
.input p {margin-bottom: 52px; color: rgb(153, 153, 153); text-align: center; font-size: 15px;}
.form {
	display: block; width: 35%; margin:0 auto;}
.form input[type="text"] {width: 552px; height: 55px; background:transparent; 
	border-radius: 3px; margin-bottom: 20px;}
textarea { width: 552px; height: 160px; background:transparent; 
	border-radius: 3px; margin-bottom: 20px; font-family: Lato;}
.button {width: 35%; margin: 0 auto;}
.button input[type="checkbox"] { display: inline-block;}
.button input[type="submit"] {display: inline-block; border:solid 1px #1E90FF; background: transparent; 
	width: 140px; height: 47px; font-size: 18px; font-family: Lato;
  color: rgb(255, 255, 255); right:260px; padding: 0; 
}
.footer {background-color: #f6f9f9;
}
.footer p {font-size: 15px; font-family: "Lato";
  color: rgb(153, 153, 153);
  text-align: left; padding-top: 36px; padding-bottom: 0px;}
.footer li {display: inline-block; float: right; margin-top: 25px; margin-bottom:25px;}
.footer i{margin-right: 5px;}
.fa-facebook {color: #fff; 
	background: #3b5998; padding: 12px 16px }
.fa-twitter {color: #fff; padding: 12px 13px;
	background: #55acee; }
.fa-google-plus{color: #fff; padding: 12px 12px;
	background: #dd4b39;}
.fa-linkedin{color: #fff; padding: 12px 13px ;
	background: #0976b4;}













